.App {
  text-align: center;
}

.App-header {
  color: blue;
  padding: 0px 25px;
}

.Control-panel {
  background-color: white;
  padding-bottom: 25px;
}

.Content {
  padding: 0px 25px;
}

img:hover{
  cursor: pointer;
}

.Logo{
  width:300px;
  height:100px;
}