.App {
  text-align: center;
}

.App-header {
  color: blue;
  padding: 0px 25px;
}

.Control-panel {
  padding-bottom: 25px;
}

.Content {
  padding: 0px 25px;
}

img:hover{
  cursor: pointer;
}

.Logo{
  width:300px;
  height:100px;
}

.Chip-spacing{
  margin: 5px;
}

.Output{
  background-color: #FFF6F3;
}

.App-header {
  max-height: 10vh;
}

.inputbox textarea {
  min-height: calc(50vh - 180px);
  max-height: calc(50vh - 180px);
}

.syntaxHighlight {
  min-height: calc(50vh - 180px);
  max-height: calc(50vh - 180px);
  padding: 18.5px 14px;
  overflow: auto;
}